@import "colors.css";

/* --- main --- */
.root-pane {
    -fx-background-color: -color-menu !important;
}
/* --- labels --- */
.timer-label {
    -fx-font-family: "JetBrains Mono", "Monospaced";
    -fx-font-size: 100px;
    -fx-font-weight: bold;
    -fx-text-fill: -text-main;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 0, 0, 0, 4);
    -fx-padding: 0;
}

.task-badge {
    -fx-background-color: transparent;
    -fx-border-color: -text-muted;
    -fx-border-radius: 12;
    -fx-padding: 2 10;
    -fx-font-size: 16px;
    -fx-text-fill: -text-muted;
    -fx-opacity: 0.8;
    -fx-cursor: hand;
}

.state-label {
    -fx-font-size: 22px;
    -fx-text-fill: -text-main;
    -fx-opacity: 0.8;
    -fx-letter-spacing: 4px;
}

/* --- buttons --- */
.button-main {
    -fx-background-color: -text-main;
    -fx-text-fill: -color-menu;
    -fx-font-size: 18px;
    -fx-background-radius: 15;
    -fx-cursor: hand;
}

.button-secondary {
    -fx-background-color: -color-hover;
    -fx-text-fill: -text-main;
    -fx-border-color: -text-muted;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-cursor: hand;
}

.title-button {
    -fx-background-color: transparent;
    -fx-text-fill: -text-main;
    -fx-font-size: 22px;
    -fx-cursor: hand;
    -fx-padding: 8 15;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 2 0;
}

.title-button:hover {
    -fx-border-color: -color-fg-muted;
}

.title-button.active {
    -fx-opacity: 1.0;
    -fx-text-fill: -color-accent;
    -fx-border-color: -color-accent;
}

.close-button, .reset-button {
    -fx-background-color: transparent;
    -fx-text-fill: -text-muted;
    -fx-cursor: hand;
}
.close-button { -fx-font-size: 24px; }
.reset-button { -fx-font-size: 16px; }

/* --- settings sidebar --- */
.settings-sidebar {
    -fx-background-color: -bg-panels;
    -fx-background-radius: 20 20 20 20;
}

.sidebar-title {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: -text-dark;
}

.section-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: -text-muted;
    -fx-padding: 10 0 5 0;
}

.val-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: -text-dark;
}

.settings-tabpane .tab-header-area .tab-header-background {
    -fx-background-color: -bg-panels;
}

.settings-tabpane .tab {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.settings-tabpane .tab-container .tab-label {
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-cursor: hand;
}

.settings-tabpane .tab:selected {
    -fx-border-color: -color-accent;
    -fx-border-width: 0 0 3 0;
}

/* --- heatmap --- */
.heatmap-container {
    -fx-padding: 20 20 20 20;
}

.month-label {
    -fx-text-fill: -text-muted;
    -fx-font-size: 12px;
}

.heatmap-cell {
    -fx-arc-width: 6;
    -fx-arc-height: 6;
    -fx-cursor: hand;
}

.legend-text {
    -fx-text-fill: -text-muted;
    -fx-font-size: 15px;
}

.cell-empty  { -fx-fill: -heatmap-empty; }
.cell-low    { -fx-fill: -heatmap-low; }
.cell-medium { -fx-fill: -heatmap-medium; }
.cell-high   { -fx-fill: -heatmap-high; }
.cell-extreme { -fx-fill: -heatmap-extreme; }

.tooltip {
    -fx-background-color: -bg-panels;
    -fx-background-radius: 10;
    -fx-text-fill: -color-border;
    -fx-font-size: 15px;
    -fx-padding: 8 12;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 4);
    -fx-border-color: -color-border;
    -fx-border-radius: 10;
    -fx-border-width: 1;
}

.stat-cardbasic {
    -fx-background-color: linear-gradient(from 0% 0% to 15% 75%, -stat-card-normal-bg, -stat-card-secundary-bg);
    -fx-background-radius: 16;
    -fx-padding: 20;
    -fx-max-width: Infinity;
    -fx-max-height: Infinity;
}
.stat-cardred {
    -fx-background-color: linear-gradient(from 0% 0% to 15% 75%, -stat-card-normal-bg, -stat-card-secundary-bg);
    -fx-background-radius: 16;
    -fx-padding: 20;
    -fx-max-width: Infinity;
    -fx-max-height: Infinity;
}

.stat-icon{
    -fx-icon-color: -color-accent;
    -fx-icon-size: 30;
}

.small-card-title {
    -fx-text-fill: -text-muted;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

.small-card-main-content {
    -fx-padding: 10 0 5 0;
    -fx-text-fill: -text-dark;
    -fx-font-size: 34px;
    -fx-font-weight: bold;
}

.big-card-title {
    -fx-text-fill: -text-dark;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

.big-card-description {
    -fx-text-fill: -text-muted;
    -fx-font-size: 14px;
}

/* --- charts --- */
.chart-pie-label { -fx-fill: -text-muted; }
.chart-legend-item { -fx-text-fill: -text-muted; }
.chart-legend-item:hover { -fx-text-fill: -text-dark; }

.default-color0.chart-pie { -fx-pie-color: -heatmap-very-low; }
.default-color1.chart-pie { -fx-pie-color: -heatmap-extreme; }
.default-color2.chart-pie { -fx-pie-color: -heatmap-medium; }
.default-color3.chart-pie { -fx-pie-color: -heatmap-low; }
.default-color4.chart-pie { -fx-pie-color: -heatmap-very-high; }
.default-color5.chart-pie { -fx-pie-color: -heatmap-high; }

.chart-series-area-line {
    -fx-stroke: -color-accent;
    -fx-stroke-width: 3px;
}

.chart-series-area-fill {
    -fx-fill: linear-gradient(to bottom, -color-accent-light, transparent);
}

.chart-area-symbol {
    -fx-background-color: -color-accent, -color-menu;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}

.circle-main {
    -fx-background-color: -color-menu;
}

/* --- setup --- */
.setup-main-box {
    -fx-background-color: -bg-panels;
    -fx-padding: 25;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: -color-border-subtle-light;
    -fx-border-width: 1;
}

#tagsListContainer {
}

.setup-section-title {
    -fx-font-weight: bold;
    -fx-text-fill: -text-muted;
}

.search-input {
    -fx-font-size: 14px;
    -fx-background-color: -color-bg-subtle;
    -fx-text-fill: -text-main;
    -fx-background-radius: 5;
    -fx-border-color: -color-border-subtle-light;
    -fx-border-radius: 5;
}

.fuzzy-result-button {
    -fx-background-color: -stat-card-secundary-bg;
    -fx-background-radius: 8;
    -fx-padding: 12;
    -fx-text-fill: -text-main;
    -fx-alignment: center-left;
    -fx-cursor: hand;
}

.fuzzy-result-button:hover {
    -fx-background-color: -color-border-subtle-light;
    -fx-translate-x: 5;
}

.separator-setup .line {
    -fx-border-color: -color-border-subtle-light;
    -fx-border-width: 2 0 0 0;
}


.separator-setup-vertical {
    -fx-border-color: -color-border-subtle-light;
    -fx-border-width: 0 0 0 2;
    -fx-padding: 0 0 0 20;
}

.tag-row {
    -fx-cursor: hand;
    -fx-background-radius: 5;
    -fx-padding: 8;
}

.tag-row:hover {
    -fx-background-color: -color-hover;
}

.selection-preview-box {
    -fx-background-color: -stat-card-secundary-bg;
    -fx-padding: 15;
    -fx-background-radius: 10;
}

.selection-label {
    -fx-font-weight: bold;
    -fx-text-fill: -text-main;
}

.setup-scroll {
    -fx-background-color: transparent;
    -fx-background: transparent;
}


/* --- history --- */

.history-view-layout {
    -fx-padding: 20;
    -fx-spacing: 15;
}

.sessions-main-container {
    -fx-padding: 10 20;
    -fx-background-color: transparent;
}

.history-day-header {
    -fx-padding: 35 0 10 0;
    -fx-spacing: 15;
    -fx-alignment: center-left;
}

.history-filter-bar {
    -fx-alignment: CENTER_LEFT;
    -fx-spacing: 12;
    -fx-padding: 5 5 10 20;
}

.filter-label-icon {
    -fx-icon-color: -icon-main;
    -fx-icon-size: 20;
}

.history-filter-bar .combo-box {
    -fx-background-color: -color-bg-subtle;
    -fx-border-color: -color-border-subtle-light;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-padding: 2 5;
    -fx-min-width: 150;
    -fx-cursor: hand;
}

.history-filter-bar .combo-box:hover {
    -fx-border-color: -color-accent;
}

.history-filter-bar .combo-box .label {
    -fx-text-fill: -text-main;
    -fx-font-size: 13px;
}

.history-filter-bar .combo-box .arrow-button {
    -fx-background-color: transparent;
}

.history-filter-bar .combo-box .arrow {
    -fx-background-color: -text-muted;
}

.timeline-date-circle {
    -fx-min-width: 55;
    -fx-min-height: 55;
    -fx-max-width: 55;
    -fx-max-height: 55;
    -fx-border-color: -color-accent;
    -fx-border-width: 2;
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-effect: dropshadow(three-pass-box, -color-accent-light, 8, 0, 0, 0);
}

.timeline-day-num {
    -fx-font-family: "JetBrains Mono";
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-text-fill: -text-main;
}

.timeline-day-month {
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-text-fill: -color-accent;
}

.day-full-label {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-text-fill: -text-main;
}

.day-total-label {
    -fx-font-size: 12px;
    -fx-text-fill: -text-muted;
}

.day-sessions-container-clean {
    -fx-padding: 10 0 10 2;
    -fx-spacing: 15;
}

.timeline-card {
    -fx-background-color: linear-gradient(from 0% 0% to 15% 75%, -stat-card-normal-bg, -stat-card-secundary-bg);
    -fx-padding: 18;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: -color-border-subtle-light;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 5);
}

.timeline-card:hover {
    -fx-border-color: -color-accent;
    -fx-translate-y: -3;
    -fx-effect: dropshadow(three-pass-box, -color-accent-light, 15, 0, 0, 0);
}

.timeline-card-header {
    -fx-alignment: CENTER_LEFT;
    -fx-spacing: 10;
}

.timeline-card-title {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: -text-main;
}

.timeline-card-time {
    -fx-text-fill: -text-muted;
    -fx-font-size: 11px;
}

.timeline-card-badges {
    -fx-spacing: 8;
    -fx-padding: 8 0 0 0;
}

.tag-explorer-card {
    -fx-background-color: linear-gradient(from 0% 0% to 15% 75%, -stat-card-normal-bg, -stat-card-secundary-bg);
    -fx-border-color: -color-border-subtle-light;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-padding: 25;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 5);
}

.tag-card-header {
    -fx-alignment: CENTER_LEFT;
    -fx-spacing: 12;
}

.tag-card-dot {
    -fx-min-width: 12;
    -fx-min-height: 12;
    -fx-max-width: 12;
    -fx-max-height: 12;
    -fx-background-radius: 50%;
}

.tag-card-name {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: -text-main;
}

.summary-row-card {
    -fx-background-color: -bg-panels;
    -fx-padding: 10 5 10 20 ;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-spacing: 15px;
    -fx-border-color: -color-border-subtle-light;
    -fx-alignment: CENTER_LEFT;
}

.summary-task-name {
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-text-fill: -text-main;
}

.summary-task-time {
    -fx-text-fill: -color-accent;
    -fx-font-weight: bold;
    -fx-font-family: "JetBrains Mono";
}

.today-status-inline {
    -fx-text-fill: -text-muted;
    -fx-font-style: italic;
    -fx-font-size: 13px;
    -fx-padding: 10 20;
    -fx-background-color: rgba(255, 255, 255, 0.03);
    -fx-background-radius: 12;
    -fx-border-color: rgba(255, 255, 255, 0.05);
    -fx-border-radius: 12;
    -fx-border-width: 1;
}

.focus-areas-root {
    -fx-padding: 20 0;
}

.focus-areas-grid {
    -fx-hgap: 20;
    -fx-vgap: 20;
    -fx-alignment: TOP_CENTER;
}

.tag-explorer-card {
    -fx-background-color: linear-gradient(from 0% 0% to 15% 75%, -stat-card-normal-bg, -stat-card-secundary-bg);
    -fx-border-color: -color-border-subtle-light;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-padding: 25;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 5);
    -fx-min-height: 100;
}

.tag-explorer-card:hover {
    -fx-border-color: -color-accent;
    -fx-translate-y: -3;
    -fx-effect: dropshadow(three-pass-box, -color-accent-light, 15, 0, 0, 0);
}

.tag-card-header {
    -fx-alignment: CENTER_LEFT;
    -fx-spacing: 12;
}

.tag-card-dot {
    -fx-min-width: 12;
    -fx-min-height: 12;
    -fx-max-width: 12;
    -fx-max-height: 12;
    -fx-background-radius: 50%;
}

.tag-card-name {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: -text-main;
}

.details-focus-area {
    -fx-alignment: CENTER_LEFT;
    -fx-spacing: 15px;
    -fx-padding: 5 0 20 0;
}


.detail-title-label {
    -fx-font-size: 25px;
    -fx-font-weight: bold;
}

.tasks-summary-container {
    -fx-padding: 0 15 0 15;
    -fx-spacing: 10;
}

.card-options-button {
    -fx-background-color: transparent;

    -fx-cursor: hand;
    -fx-icon-size: 45;
    -fx-padding: 0;
    -fx-background-radius: 5;
}

.options-icon {
    -fx-icon-size: 30;
    -fx-icon-color: -icon-main;
    -fx-padding: 0;

}

.options-icon:hover {
    -fx-icon-color: -icon-main;
}



/* --- planner --- */

.btn-action {
    -fx-background-color: transparent;
    -fx-border-color: -color-border-subtle;
    -fx-border-radius: 5;
    -fx-cursor: hand;
    -fx-text-fill: -text-muted;
    -fx-font-size: 14px;
    -fx-min-width: 30;
    -fx-min-height: 30;
}

.btn-action:hover {
    -fx-border-color: -text-main;
    -fx-text-fill: -text-main;
}

.btn-repeat:hover {
    -fx-text-fill: -color-accent;
    -fx-border-color: -color-accent;
}

.btn-delete:hover {
    -fx-text-fill: #ff4444;
    -fx-border-color: #ff4444;
}

.timeline-card .btn-action {
    -fx-opacity: 0.6;
}

.timeline-card:hover .btn-action {
    -fx-opacity: 1.0;
}

/* --- calendar view --- */
.calendar-grid {
    -fx-background-color: transparent;
}

.calendar-month-label {
    -fx-text-fill: -color-border;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.calendar-day-name {
    -fx-text-fill: -color-fg-muted;
    -fx-font-size: 11px;
    -fx-font-weight: 700;
    -fx-letter-spacing: 0.5;
}

.calendar-day-name-today {
    -fx-text-fill: -color-accent;
    -fx-font-size: 11px;
    -fx-font-weight: 800;
}

.calendar-day-num {
    -fx-text-fill: -color-fg-default;
    -fx-font-size: 15px;
}

.calendar-day-num-today {
    -fx-text-fill: -color-bg-default;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.calendar-today-circle {
    -fx-fill: -color-accent;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.15), 5, 0, 0, 1);
}

.calendar-hour-label {
    -fx-text-fill: -color-fg-default;
    -fx-font-size: 10px;
    -fx-font-family: "JetBrains Mono", "Inter", monospace;
}

.calendar-cell {
    -fx-border-color: -color-border-subtle;
    -fx-border-width: 0 0 0.5 0.5;
}

.calendar-hour-cell {
    -fx-border-color: -color-fg-muted;
    -fx-border-width: 1 0 0 0;
}

.title-schedule-session {
    -fx-text-fill: -text-main;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.calendar-session-block {
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-border-width: 0 0 0 4;
    -fx-padding: 6 10;
    -fx-cursor: hand;
}

.calendar-session-block:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 4);
}

.calendar-session-task {
    -fx-text-fill: -color-fg-default;
    -fx-font-size: 12px;
    -fx-font-weight: 600;
}

.calendar-session-tag {
    -fx-font-size: 9px;
    -fx-font-weight: 800;
    -fx-text-transform: uppercase;
}

.calendar-popup {
    -fx-background-color: -bg-panels;
    -fx-border-color: -color-border-default;
    -fx-border-width: 1px;
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;
    -fx-padding: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 20, 0, 0, 10);
}

.calendar-icon {
    -fx-icon-size: 30px;
    -fx-cursor: hand;
    -fx-icon-color: -color-border;
}

.calendar-button-icon{
    -fx-background-color: transparent;
    -fx-padding: 0;

}

.calendar-button-today {
    -fx-font-size: 15px;
    -fx-background-color: -color-border-subtle-light;
    -fx-background-radius: 25;
    -fx-border-color: -color-border;
    -fx-border-radius: 25;
    -fx-text-fill: -color-border;
    -fx-padding: 10 20 10 20;
    -fx-cursor: hand;
}

.calendar-button-add {
    -fx-background-color: -bg-panels !important;
    -fx-background-radius: 15;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 0, 4);

}

.calendar-button-add .label{
    -fx-text-fill: -color-border;
    -fx-font-weight: bold;
}

.calendar-button-add .arrow {
    -fx-background-color: -color-border;
}

.context-menu {
    -fx-background-color: -bg-panels;
    -fx-background-radius: 6;
}

.menu-item {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-padding: 8 15;
    -fx-background-radius: 10;
}

.menu-item:hover {
    -fx-background-color: -color-border-subtle-light;
    -fx-cursor: hand;
    -fx-padding: 8 15;
    -fx-background-radius: 10;
}

.input-calendar {
    -fx-background-color: -color-bg-subtle;
    -fx-background-radius: 10;
    -fx-border-color: -color-border-subtle-light;
    -fx-border-radius: 10;
    -fx-padding: 8 12;
    -fx-text-fill: -text-main;
    -fx-font-size: 13px;
    -fx-prompt-text-fill: -text-muted;
}

.input-calendar:hover {
    -fx-border-color: -color-accent;
    -fx-background-color: rgba(255, 255, 255, 0.03);
}

.input-calendar:focused {
    -fx-border-color: -color-accent;
    -fx-border-width: 1.5;
    -fx-background-color: -color-bg-subtle;
}

.date-picker.input-calendar > .text-field {
    -fx-background-color: transparent;
    -fx-text-fill: -text-main;
    -fx-padding: 0;
}

.date-picker.input-calendar > .arrow-button {
    -fx-background-color: transparent;
}

.date-picker.input-calendar > .arrow-button > .arrow {
    -fx-background-color: -text-muted;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

.date-picker.input-calendar:hover > .arrow-button > .arrow {
    -fx-background-color: -color-accent;
}

.date-picker-popup {
    -fx-background-color: -bg-panels;
    -fx-background-radius: 12;
    -fx-border-color: -color-border-subtle;
    -fx-border-radius: 12;
    -fx-padding: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 15, 0, 0, 8);
}

.date-picker-popup > .month-year-pane {
    -fx-background-color: transparent;
}

.date-picker-popup .calendar-grid {
    -fx-background-color: transparent;
}

.date-picker-popup .day-cell {
    -fx-text-fill: -text-muted;
    -fx-background-color: -bg-panels;
    -fx-background-radius: 5;
}

.date-picker-popup .day-cell:hover {
    -fx-background-color: -bg-panels;
    -fx-text-fill: -text-main;
}

.date-picker-popup .selected {
    -fx-background-color: -color-accent;
    -fx-text-fill: white;
}

.date-picker-popup .today {
    -fx-font-weight: bold;
}

/* --- summary pane --- */

.summaryStackPane {
    -fx-background-color: -bg-panels;
    -fx-background-radius: 20;
    -fx-border-color: -color-border-subtle-light;
    -fx-border-width: 1.5;
    -fx-border-radius: 20;
}

.summaryTitle {
    -fx-font-size: 42;
    -fx-font-weight: bold;
    -fx-text-fill: -color-accent;
}

#summaryTitle, #summaryDesc {
    -fx-background-color: -color-bg-subtle;
    -fx-border-color: -color-border-subtle-light;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-text-fill: -text-main;
    -fx-font-size: 14px;
    -fx-padding: 10;
}


#summaryTitle:focused, #summaryDesc:focused {
    -fx-border-color: -color-accent;
    -fx-effect: dropshadow(gaussian, rgba(122, 122, 122, 0.2), 15, 0, 0, 0);
}

#summaryPane .section-label {
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-text-fill: -text-muted;
    -fx-padding: 0 0 5 0;
}

#starsContainer {
    -fx-padding: 10 0 10 0;
}


#summaryPane HBox {
    -fx-padding: 15 0 0 0;
}

#summaryPane .button-main {
    -fx-background-color: -color-accent;
    -fx-text-fill: -color-accent-secundary;
    -fx-font-weight: bold;
}

#summaryPane .button-main:hover {
    -fx-opacity: 0.9;
    -fx-translate-y: -1;
}

.selectedStar {
    -fx-icon-size: 30px;
    -fx-icon-color: -color-accent;
    -fx-effect: dropshadow(three-pass-box, -color-accent-light, 10, 0, 0, 0);
}

.unselectedStar {
    -fx-icon-size: 30px;
    -fx-icon-color: -icon-subtle;
}

.selectedStar:hover, .unselectedStar:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

.trashIcon {
    -fx-icon-code: "fas-trash-alt";
    -fx-icon-color: -icon-subtle;
    -fx-icon-size: 25px;
}

.trashIcon:hover {
    -fx-icon-code: "fas-trash-alt";
    -fx-icon-size: 25px;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

.editIcon {
    -fx-icon-code: "fas-pen";
}

.selectedStarHistory {
    -fx-icon-size: 12px;
    -fx-icon-color: -color-accent;
    -fx-effect: dropshadow(three-pass-box, -color-accent-light, 10, 0, 0, 0);
}

.unselectedStarHistory {
    -fx-icon-size: 12px;
    -fx-icon-color: -icon-subtle;
}

.play-schedule-session {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.play-icon {
    -fx-icon-color: -icon-main;
    -fx-icon-size: 20px;
}
.play-icon:hover {
    -fx-icon-size: 22px;
    -fx-icon-color: -icon-subtle;
}

/* --- notifications --- */

.notification-toast {
    -fx-background-color: -color-bg-subtle;
    -fx-border-color: -color-border-subtle-light;
    -fx-border-width: 1;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 15, 0, 0, 5);
}

.notification-toast:hover {
    -fx-background-color: -color-hover;
}

.notification-toast .font-icon {
    -fx-icon-color: -icon-main;
}

.notification-progress {

    -fx-background-radius: 0 0 10 10;
}

.notification-icon {
    -fx-icon-size: 25px;
}

.toast-success {
    -fx-icon-color: #37FF00;
}

.toast-error {

    -fx-icon-color: #ff0000 ;
}
.toast-info {
    -fx-icon-color: #009DFF;
}
.toast-warning {
    -fx-icon-color: #FFDD00;
}

/* --- scroll bar --- */

.scroll-bar:vertical, .scroll-bar:horizontal {
    -fx-background-color: transparent;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: "";
    -fx-padding: 0;
}

.scroll-bar:vertical .track, .scroll-bar:horizontal .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-background-radius: 10;
    -fx-background-insets: 0 3 0 3;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-background-radius: 10;
    -fx-background-insets: 3 0 3 0;
}

.scroll-pane:hover .scroll-bar .thumb,
.list-view:hover .scroll-bar .thumb,
.table-view:hover .scroll-bar .thumb,
.text-area:hover .scroll-bar .thumb {
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

.scroll-bar .thumb:hover {
    -fx-background-color: -color-accent !important;
    -fx-background-insets: 0 2 0 2 !important;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.corner {
    -fx-background-color: transparent;
}

.menu-icon {
    -fx-icon-size: 75px;
    -fx-icon-color: -color-accent;

}

.menu-button {
    -fx-background-color: transparent;
    -fx-border-radius: 250;
    -fx-border-width: 1;
    -fx-padding: 2px;
    -fx-effect: dropshadow(gaussian, -shadow-default, 12, 0, 0, 4);
    -fx-cursor: hand;
}


/* --- combobox --- */
.combo-box {
    -fx-background-color: -color-bg-subtle;
    -fx-background-radius: 10;
    -fx-border-color: -color-border-subtle-light;
    -fx-border-radius: 10;
    -fx-padding: 2 5;
    -fx-cursor: hand;
    -fx-display-caret: false;
}

.combo-box:hover {
    -fx-border-color: -color-accent;
    -fx-background-color: rgba(255, 255, 255, 0.03);

}

.combo-box:focused {
    -fx-border-color: -color-accent;
    -fx-border-width: 1.5;
}

.combo-box .label {
    -fx-text-fill: -text-main;
    -fx-font-size: 13px;
}

.combo-box .arrow-button {
    -fx-background-color: transparent;
    -fx-padding: 0 10 0 5;
}

.combo-box .arrow {
    -fx-background-color: -text-muted;
    -fx-shape: "M 0 0 L 4 4 L 8 0 Z";
}

.combo-box:hover .arrow {
    -fx-background-color: -color-accent;
}
.combo-box-base {
    -fx-cell-size: 35px;
}

.combo-box-popup .list-view {
    -fx-background-color: -bg-panels;
    -fx-background-radius: 10;
    -fx-border-color: -color-border-subtle;
    -fx-border-radius: 10;
    -fx-padding: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 15, 0, 0, 8);
}

.combo-box-popup .list-cell {
    -fx-text-fill: -text-muted;
    -fx-background-color: transparent;
    -fx-padding: 8 12;
    -fx-background-radius: 5;
}

.combo-box-popup .list-cell:hover {
    -fx-background-color: -color-hover;
    -fx-text-fill: -text-main;
    -fx-cursor: hand;
}

.combo-box-popup .list-cell:selected {
    -fx-text-fill: -color-accent;
    -fx-font-weight: bold;
}

.combo-box:disabled {
    -fx-opacity: 0.4;
    -fx-cursor: default;
}

.filter-combobox {
    -fx-background-color: transparent;
}

/* --- delete dialog --- */
.confirm-dialog-card {
    -fx-background-color: -bg-panels;
    -fx-background-radius: 15;
    -fx-border-color: -color-border-subtle-light;
    -fx-border-width: 1;
    -fx-border-radius: 15;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 30, 0, 0, 15);
}

.confirm-title {
    -fx-text-fill: -text-main;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.confirm-message {
    -fx-text-fill: -text-muted;
    -fx-font-size: 13px;
}

.btn-cancel {
    -fx-background-color: transparent;
    -fx-text-fill: -text-main;
    -fx-border-color: -color-border-subtle-light;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-padding: 8 20;
    -fx-cursor: hand;
    -fx-transition: all 0.2s;
}

.btn-cancel:hover {
    -fx-background-color: -color-hover;
    -fx-border-color: -color-border-subtle;
}

.btn-confirm-delete {
    -fx-background-color: -color-danger;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-padding: 8 20;
    -fx-cursor: hand;
}

.btn-confirm-delete:hover {
    -fx-background-color: -color-danger-hover;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.btn-confirm-delete:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

/* edit session dialog --- */
#editTitleField, #editDescArea {
    -fx-background-color: -color-bg-subtle;
    -fx-border-color: -color-border-subtle-light;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-text-fill: -text-main;
    -fx-font-size: 14px;
    -fx-padding: 10;
}


/* --- segmented buttons settings --- */
.segmented-button .toggle-button {
    -fx-background-radius: 0;
    -fx-border-color: -color-border-subtle-light;
    -fx-background-color: transparent;
    -fx-border-width: 1 0 1 1;
    -fx-font-size: 15px;
}

.segmented-button .left-pill {
    -fx-background-radius: 18 0 0 18;
    -fx-border-radius: 18 0 0 18;
}

.segmented-button .right-pill {
    -fx-background-radius: 0 18 18 0;
    -fx-border-radius: 0 18 18 0;
    -fx-border-width: 1 1 1 1;
}

.segmented-button .toggle-button:hover {
    -fx-cursor: hand;
}

.segmented-button .toggle-button:selected {
    -fx-background-color: -color-accent;
    -fx-text-fill: -bg-panels;
    -fx-font-weight: bold;

}

.toggle-switch {
    -fx-cursor: hand;
}

.toggle-switch > .thumb-area {
    -fx-background-color: -color-fg-secundary;
}

.toggle-switch > .thumb {
    -fx-background-insets: 2;
    -fx-background-color: #ffffff;
}

.toggle-switch:selected > .thumb-area {
    -fx-background-color: -color-accent;
}


.slider > .thumb {
    -fx-background-color: #ffffff;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 0, 1);
}

.slider > .thumb:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.slider> .track {
    -fx-background-color: -color-fg-secundary;
    -fx-background-radius: 5;
    -fx-background-insets: 6 0 6 0;
}

.slider > .progress {
    -fx-background-color: -color-accent;
    -fx-background-radius: 5;
    -fx-background-insets: 5 0 5 0;
}

.slider:disabled {
    -fx-opacity: 0.5;
}

.theme-btn {
    -fx-background-color: -color-bg-subtle;
    -fx-border-color: -color-border-subtle-light;
    -fx-border-radius: 12;
    -fx-background-radius: 12;
    -fx-padding: 12 16;
    -fx-cursor: hand;
    -fx-min-width: 100;
    -fx-alignment: CENTER;
}

.theme-btn:hover {
    -fx-border-color: -color-accent;
    -fx-background-color: -color-hover;
    -fx-effect: dropshadow(three-pass-box, -color-accent-light, 8, 0, 0, 0);
}

.theme-btn-label {
    -fx-text-fill: -text-muted;
    -fx-font-size: 20px;
}